.input:focus {
    border-color: #007bff
}

.input {
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    width: 250px;
    border: 1px solid rgb(203, 200, 200)
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 40px;
}

.superInput {
}

.errorInput {
    border: 1px solid red
}

.errorInput:focus {
    border: 1px solid red;
    
}

.error {
    color: red;
    font-size: 10px;
}
