.radio {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #000000;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 8px;
    background-color: #FFF;
    outline: none;
    cursor: pointer;
}

.radio::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #000000;
}


.radio:checked::before {
    transform: scale(1);
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
