.button {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid transparent;
    width: 140px;
}

.disabled {
    background-color: #97afd1;
    color: #ffffff99; 
    cursor: not-allowed;
    opacity: 0.7;
}

.secondary {
    background-color: white;
    color: #0066cc;
    border: 1px solid #0066cc;
}

.default {
    background-color: #0066cc;
    color: white;
}

.red {
    background-color: #cc1439;
    color: white;
}

.default:hover {
     background-color: #0052a3;
}

.red:hover {
    background-color: #a8102f;
}

.secondary:hover {
    background-color: #f0f7ff;
}


.default:active {
    background-color: #004080;
}

.secondary:active {
    background-color: #e0eeff;
}

.red:active {
    background-color: #8a0d26;
}

.button:disabled {
    pointer-events: none;
}
